.customers {
  padding: 0;
}
.customers .container {
  box-sizing: border-box;
  padding-top: 60px 0px 0px 0px;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    width: 1170px;
    // padding: 94px 0px 94px;
    margin-bottom: 0px;
  }
}
.customers__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // margin: -15px;
}
.customers__logo {
  margin-bottom: 15px;
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}
.customers__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
  margin: 60px 0px 30px;
}
.customers__logo {
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}
.customers .container {
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.customers__list {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 1200px;
    // height: 184px;
    padding: 0px 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
}
.customers__title {
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    margin-bottom: 35px;
  }
}

.customers__link {
  @include centeredFlex(flex);
  width: 210px;
  height: 92px;
  border: 1px solid $lightgray-color;
  box-shadow: 0px, 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.customers__link {
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.customers__icon {
  fill: $lightgray-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers__link:hover &,
  .customers__link:focus & {
    fill: $accent-color;
  }
}

.customers__logo {
  @media screen and (min-width: 1200px) {
    .customers__logo {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    // width: calc((100% - 6 * 30px) / 6);
    // margin: 15px;
  }
}
