.features__container {
  padding-top: 94px;
}

.features__list {
  @extend %flexCentered;
  & .features__item {
    width: 270px;
  }
  & .features__item:not(:last-child) {
    padding: 0;
    margin-right: 30px;
  }
}
.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;

  margin-bottom: 10px;
}
.features__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $text-color;
}
.features__icon {
  width: 70px;
  height: 70px;
}
.icon-background {
  height: 120px;
  @include centeredFlex(flex);
  background-color: $bg-fill;
  margin-bottom: 30px;
}
