.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  background-color: aqua;
}
.menu-toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
  //   border: 1px solid rgba(0, 0, 0, 0.1);
  //   background-color: $bg-color;
  //   border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  fill: $second-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 302px;
}

.mobile-menu__item {
  margin-bottom: 32px;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $title-color;
}
.mobile-menu__link--current {
  color: $accent-color;
}
.mobile-right {
  display: flex;
  flex-direction: column;
  //   margin-top: 100px;
  margin-left: 40px;
}
.mobile-right__contact {
  margin-bottom: 32px;
}
.mobile-media {
  display: flex;
  margin-left: 40px;
  margin-right: -10px;
}
.mobile-media__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  flex-basis: calc(100% / 4 - 20px);
  margin-left: 10px;
  margin-right: 0;
}
.mobile-media__item:last-child {
  margin-right: 0;
}
.vertical-line {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  height: 22px;
  margin-left: 10px;
}
