a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button {
  display: inline-block;
  padding: 11px 30px;
  min-width: 100px;
  border: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
